BlueCenterCircle
BlueCenterRectangle
BlueRectangle
BrownCenterCircle
BrownCenterRectangle
BrownCircle
BrownRectangle
Calculator
GrayCenterCircle
GrayCenterRectangle
GrayCircle
GrayRectangle
GreenCenterCircle
GreenCircle
GreenRectangle
RedCenterCircle
RedCenterRectangle
RedCircle
